/node_modules/
/.idea/
/tests/archives/inbox.json
/tests/archives/mailHTML_content.html
/tests/archives/mailHTML_id.html
/tests/archives/mailHTML_subject.html
/tests/archives/mailContent.json
/.cache/
/qodana.yaml
/todo.txt
!/qodana.yaml
/attachments/
